<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SchedulingMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <connectionStrings>
    <!--<add name="PegasysEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Sql-tdpw19;initial catalog=Pegasys_Dev;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="PegasysContext" connectionString="data source=Sql-tdpw19;initial catalog=Pegasys_Test;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <!--<add name="PegasysContext" connectionString="data source=Sql-tdpw19;initial catalog=Pegasys_Dev;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <applicationSettings>
    <SchedulingMonitor.Properties.Settings>
      <setting name="ContentApplicationName" serializeAs="String">
        <value>SchedulingMonitor</value>
      </setting>
      <setting name="ContentUserId" serializeAs="String">
        <value>storms</value>
      </setting>
      <setting name="RemedyUriCredentials" serializeAs="String">
        <value>Basic Z2EtcDJwc3Rvcm1zOnN0b3Jtcy5hcGkyMDE2</value>
      </setting>
      <setting name="RemedyUriHost" serializeAs="String">
        <value>https://apistg.comp.dirsrv.com/enterprise/service-management</value>
      </setting>
      <setting name="RemedyUri" serializeAs="String">
        <value>/v1/incidents/</value>
      </setting>
      <setting name="SmtpHost" serializeAs="String">
        <value>mailhost.we-energies.com</value>
      </setting>
      <setting name="SmtpPort" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="EmailTo" serializeAs="String">
        <value>nomGTS@integrysgroup.com;jason.litzenberger@wecenergygroup.com;ronald.femmel@wecenergygroup.com;roy.jarosz@wecenergygroup.com</value>
      </setting>
      <setting name="EmailFrom" serializeAs="String">
        <value>SchedulingMonitor@no-reply.com</value>
      </setting>
      <setting name="EmailCc" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RemedyAssignedSupportGroup" serializeAs="String">
        <value>CO - Work Management Process</value>
      </setting>
      <setting name="RemedyClientService" serializeAs="String">
        <value>IT - Work Management</value>
      </setting>
      <setting name="RemedyCompany" serializeAs="String">
        <value>WEC Business Services</value>
      </setting>
      <setting name="RemedyImpact" serializeAs="String">
        <value>4-Minor/Localized</value>
      </setting>
      <setting name="RemedyUrgency" serializeAs="String">
        <value>4-Low</value>
      </setting>
    </SchedulingMonitor.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
